* {
    box-sizing: border-box;
}
img{
    display: inherit;
}

body{
    padding: 0;
    margin: 0;

    &.modalOpen{
        overflow: hidden;
    }
}

.Section {

    &__flexRow{
        position: relative;
        display: block;
        @include forsize(medium){
            display: flex;
            flex-direction: row;
        }
    }

    &.borderTop{
        border-top: 1px solid $blue;
    }
}

.Col{

    &__1{
        width: 100%;
        @include forsize(medium){
            width: $col;
        }
    }
    &__2{
        width: 100%;
        @include forsize(medium){
            width: $col * 2;
        }
    }
    &__3{
        width: 100%;
        @include forsize(medium){
            width: $col * 3;
        }
    }
    &__4{
        width: 100%;
        @include forsize(medium){
            width: $col * 4;
        }
    }
    &__5{
        width: 100%;
        @include forsize(medium){
            width: $col * 5;
        }
    }
    &__6{
        width: 100%;
        @include forsize(medium){
            width: $col * 6;
        }
    }
}

.centerMargin{
    margin-right: auto;
    margin-left: auto;
}

.centerVertical{
    justify-content: center;
    align-items: center;
}

.alignRight{
    justify-content: center;
    align-items: flex-end;

    @include forsize(large){
        align-items: flex-start;
    }
}

.centerHorizontal{
    align-self: center;
}

.flex{
    display: flex;
}

.flexCol{
    flex-direction: column;
}

.flexCenter{
    justify-content: center;
}

.padRight{
    padding-right: $pad;
}
.padLeft{
    padding-left: $pad;
}
.padSides{
    padding-right: $pad;
    padding-left: $pad;
}

.padTopBottom{
    padding-bottom: $pad;
    padding-top: $pad;
}

.padTopBottomMicro{
    padding-bottom: $pad / 2;
    padding-top: $pad / 2;
}

.padTop{
    padding-top: $pad;
}

.padTopBottomLarge{
    padding-bottom: $pad * 4;
    padding-top: $pad * 4;
}

.padTopLarge{
    padding-top: $pad * 4;
}

.padTopMega{
    padding-top: $pad * 6;
}

.padTopUltraMega{
    padding-top: 70vh;
}

.padBottomLarge{
    padding-bottom: $pad * 4;
}

.whenNarrowPadTopBottomLarge{
    @include forsize(mediumsmall){
        padding-top: $pad * 4;
        padding-bottom: $pad * 4;
    }
    @include forsize(small){
        padding-top: $pad * 4;
        padding-bottom: $pad * 4;
    }
}

.whenNarrowPadBottomLarge{
    @include forsize(mediumsmall){
        padding-bottom: $pad * 4;
    }
    @include forsize(small){
        padding-bottom: $pad * 4;
    }
}

.whenNarrowPadBottom{
    @include forsize(mediumsmall){
        padding-bottom: $pad * 2;
    }
    @include forsize(small){
        padding-bottom: $pad * 2;
    }
}

.padTopMid{
    padding-top: $pad * 2;
}

.padSidesMid{
    padding-right: $pad * 2;
    padding-left: $pad * 2;
}

.padSidesLarge{
    padding-right: $pad * 2;
    padding-left: $pad * 2;

    @include forsize(medium){
        padding-right: $pad * 4;
        padding-left: $pad * 4;
    }
}

.marginRight{
    margin-right: $pad;
}

.marginLeft{
    margin-left: $pad;
}

.marginBottom{
    margin-bottom: $pad;
}

.marginTop{
    margin-top: $pad;
}

.marginTopDouble{
    margin-top: $pad * 2;
}

.marginBottomDouble{
    margin-bottom: $pad * 2;
}

.pullUp{
    @include forsize(medium){
        margin-top: -20px;
    }
}

.z100{
    z-index: 100;
    position: relative;
}

.z200{
    z-index: 200;
    position: relative;
}

.background{
    &BlueGradient{
        background: $blueGradient
    }
    &Lightblue{
        background: $lightblue;
    }
    &Orange{
        background: $orange;
    }
    &Midgrey{
        background: $midGrey;
    }
    &Lightgrey{
        background: $lightGrey;
    }
    &Wormygrey{
        background: url('../images/wormy.png') repeat-x center center;
        background-size: cover;
    }
    &White{
        background: white;
    }
    &WhiteTrans{
        background: $whiteTrans;
    }
    &BlueTrans{
        background-image: linear-gradient(-50deg, rgba(166,195,236,0.90) 17%, rgba(56,112,190,0.90) 92%);
    }
    &GreyGradient{
        background-image: linear-gradient(44deg, #636363 0%, #272727 100%);
    }
    &CoffeeFade{
        background: url('../images/CoffeeFade.jpg') no-repeat;
        background-size: cover;
    }
    &Webfoto{
        background: url('../images/webfoto.jpeg') no-repeat;
        background-size: cover;
    }
    &Infographic{
        background: url('../images/infographics.jpg') no-repeat;
        background-size: cover;
    }
    &Academy{
        background: url('../images/akademie.jpeg') no-repeat;
        background-size: cover;
    }
    &Vondrous{
        background: url('../images/vondrous.jpeg') no-repeat;
        background-size: cover;
    }
    &Students{
        background: url('../images/students.jpeg') no-repeat;
        background-size: cover;
    }
}

.smokeBox{
    padding: $pad *2;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.7) 0%, rgba(29, 83, 155, 0.7) 100%);
}

.maxWidth450{
    max-width: 450px;
}

.maxWidth660{
    max-width: 660px;
}

.maxWidth980{
    max-width: 980px;
}

.fullWidth{
    width: 100%;
}

.hideOverflow{
    overflow: hidden;
}

.whenNarrowHideOverflow{
    @include forsize(medium){
        overflow: hidden;
    }
    @include forsize(small){
        overflow: hidden;
    }
}

.whenWideOrder2{
    order: 2;
}

.whenNarrowPushDown{
    top: 30px;
    position: relative;
    
    @include forsize(medium){
        top: 0;
    }
}

.whenNarrowPullLeft{
    left: 10vw;
    position: relative;
    
    @include forsize(medium){
        left: 0;
    }
}

.bottomBorder{
    padding-bottom: $pad;
    border-bottom: 1px solid $blue;
}

.bottomBorderFat{
    border-bottom: 3px solid $blue;
}

.Image{
    display: inline-block;

    &__fitWidth{
        max-width: 100%;
    }

    &.withShadow{
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }

    &.pullLeft{
        margin-left: 0;
        float: none;
        
        @include forsize(medium){
            float: left;
            margin-left: -($col*3);
        }
    }
    
    &.floatLeft{
        float: none;
        
        @include forsize(medium){
            float: left;
        }
    }

    &.askLogo{
        width: 129px;
        height: 24px;
        margin-left: 10px;
    }
}

.BackgroundImage{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.turnLeft{
    transform: rotate(1deg);
}

.turnRight{
    transform: rotate(-1deg);
}

.Table{

    th{
        font-size: 0.8rem;
        line-height: 1rem;
        font-weight: 100;
    }

}