@font-face {
    font-family: 'Maxima';
    src: url('../fonts/maximalight-webfont.eot');
    src: url('../fonts/maximalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maximalight-webfont.woff2') format('woff2'),
         url('../fonts/maximalight-webfont.woff') format('woff'),
         url('../fonts/maximalight-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Maxima';
    src: url('../fonts/maximatot-med-webfont.eot');
    src: url('../fonts/maximatot-med-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maximatot-med-webfont.woff2') format('woff2'),
         url('../fonts/maximatot-med-webfont.woff') format('woff'),
         url('../fonts/maximatot-med-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Maxima';
    src: url('../fonts/maximabold-webfont.eot');
    src: url('../fonts/maximabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maximabold-webfont.woff2') format('woff2'),
         url('../fonts/maximabold-webfont.woff') format('woff'),
         url('../fonts/maximabold-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: "Maxima", Helvetica, Arial, sans-serif; 
    font-weight: 100;
}

body{
    font-size: 21px;
    line-height: 28px;
}

a{
    color: $blue;
}
.Text{
    &__light{
        font-weight: 100;
    }
    
    &__regular{
        font-weight: 200;
    }
    
    &__bold{
        font-weight: 400;
    }

    &__color{
        &Grey{
            color: $textGrey;
        }
        &White{
            color: white;
        }
        &Blue{
            color: $blue;
        }
    }

    &__size15{
        font-size: 0.9rem;
        
        @include forsize(small){
            line-height: 1.1rem;
        }
    }

    &__size18{
        font-size: 1.1rem;
        line-height: 1.3rem;

        @include forsize(small){
            font-size: 0.8rem;
            line-height: 1rem;
        }
    }

    &__size21{
        font-size: 1.3rem;
        line-height: 1.8rem;

        @include forsize(mediumsmall){
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
        @include forsize(small){
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }
    
    &__size24{
        font-size: 1.5rem;
        line-height: 2rem;

        @include forsize(mediumsmall){
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
        @include forsize(small){
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }
    
    &__size28{
        font-size: 1.7rem;
        line-height: 2.2rem;

        @include forsize(mediumsmall){
            font-size: 1.5rem;
            line-height: 2rem;
        }
        @include forsize(small){
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    
    &__size35{
        font-size: 2rem;
        line-height: 2.2rem;

        @include forsize(mediumsmall){
            font-size: 1.8rem;
            line-height: 2.1rem;
        }
        @include forsize(small){
            font-size: 1.8rem;
            line-height: 2.1rem;
        }
    }
    &__size55{
        font-size: 3.4rem;
        line-height: 3.8rem;

        @include forsize(mediumsmall){
            font-size: 2.5rem;
            line-height: 2.7rem;
        }
        @include forsize(small){
            font-size: 2.5rem;
            line-height: 2.7rem;
        }
    }
   
    &__size75{
        font-size: 4.7rem;
        line-height: 5.2rem;

        @include forsize(mediumsmall){
            font-size: 3.4rem;
            line-height: 3.8rem;
        }
        @include forsize(small){
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }
    
    &__size110{
        font-size: 6.9rem;
        line-height: 7.3rem;

        @include forsize(mediumsmall){
            font-size: 5rem;
            line-height: 5.2rem;
        }
        @include forsize(small){
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }

    &__center{
        text-align: center;
    }
    &__right{
        text-align: right;
    }
    &__left{
        text-align: left;
    }
}

.Ender{
    width: 7px;
    height: 7px;
    background: $blue;
    display: inline-block;
    margin-left: 2px;
    top: -2px;
    position: relative;

    &.onNewline{
        display: block;
        margin-left: 0;
        top: 0;
    }
}

.Button{
    position: relative;
    cursor: pointer;
    display: block;
    padding: 15px 40px;
    font-weight: 100;
    width: 260px;
    font-size: 1.8rem;
    line-height: 2.3rem;
    border-radius: 5px;
    border: none;

    @include forsize(medium){
        font-size: 1.6rem;
        line-height: 2.1rem;
        padding: 15px 20px;
    }
    @include forsize(mediumsmall){
        font-size: 1.6rem;
        line-height: 2.1rem;
        padding: 15px 20px;
    }
    @include forsize(small){
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding: 15px 25px;
    }
}
    
.Button__blue{
    background: $blue;
    color: white;
    box-shadow: 0px 1px 0px 0px #266B7E;

    &:hover{
        top: -1px;
        box-shadow: 0px 2px 0px 0px #266B7E;

    }
}
    
.Button__orange{
    background: $orange;
    color: white;
    box-shadow: 0px 1px 0px 0px #96391C;

    &:hover{
        top: -1px;
        box-shadow: 0px 2px 0px 0px #96391C;

    }
}

.Button__wide{
    width: auto;
}

.numBack1{
    min-height: 255px;
    background: url('../images/num1.svg') no-repeat center center;
}
.numBack2{
    min-height: 255px;
    background: url('../images/num2.svg') no-repeat center center;
}
.numBack3{
    min-height: 255px;
    background: url('../images/num3.svg') no-repeat center center;
}

.Input{
    width: 100%;
    background: white;
    border: 1px solid $blue;
    color: $textGrey;
    font-size: 1.2rem;
    padding: 8px 10px;
    border-radius: 5px;
}

.Input__select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/select.svg') no-repeat right 10px center white; 
}