$blue: #1D539C;
$lightblue: #DFF9FF;
$orange: #EB8261;

$textGrey: #282828;
$lightGrey: #F2F2F2;
$midGrey: #8B8B8B;

$whiteTrans: rgba(255,255,255,0.85);

$blueGradient: linear-gradient(-50deg, #749FDA 17%, #1D539C 92%);

$col: 16.666666667%;

$pad: 20px;